body {
    display: flex;
    flex-wrap: wrap;
}

header,
div {
    flex-basis: 20%;
    height: 400px;
}

footer {
    flex-basis: 100%;
    height: 100px;
}

header {
    background-color: aqua;
}

div:nth-of-type(1) {
    background-color: darkorchid;
}

div:nth-of-type(2) {
    background-color: darkgoldenrod;
}

div:nth-of-type(3) {
    background-color: yellow;
}

div:nth-of-type(4) {
    background-color: darkgreen;
}

footer {
    background-color: chartreuse;
}

@media all and (max-width: 992px) {
    header {
        flex-basis: 100%;
        height: 100px;
    }
    
    div {
        flex-basis: 25%;
    }
}

@media all and (max-width: 768px) {
    div {
        flex-basis: 50%;
    }
} 
@media all and (max-width: 480px) {
    div {
        flex-basis: 100%;
    }
}